* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


p {
    color: black;
    margin-bottom: 1.6rem;
    font-weight: 300;
    text-align: left;
    font-size: 10px;
    line-height: 2rem;
        
}

.section-title {
    font-size: 3rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;

}

.section-title span {
    color: #FFCA4B;

}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: black;
    background-color: transparent;
    border: 2px solid #FFCA4B;
    border-radius: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;

}

.cta:hover {
    color: white;
    background-color: #FFCA4B;

}


/*bullshitgen section*/

.bullshit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    padding: 100px 0;
}

.bullshit-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    width: 80%;
}

 h1 {
        font-size: 3rem;
        font-weight: 300;
        color: black;
        margin-bottom: 50px;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        text-align: center; 
        font-family: 'Josefin Sans', sans-serif;   
}

h1 span {
    color: #FFCA4B;
}

 .lingo {
    padding: 20px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;   
}

 .bullshit-results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    width: 70%;
}
    
    
#bullshit #fortune {
    color: black;
    font-size: 1.75rem;
    text-align: center;
    padding: 20px;
    margin: 30px auto;
    background-color: #f6f6f6;
    border: 1px solid #ededed;
    box-shadow: 5px 5px 5px #505050;
    width: 100%;
    display: inline-block;
    letter-spacing: 0.1rem;
    align-items: center;
}

#buttonContainer {
    margin: auto;
    align-items: center;
    justify-items: center;
    padding: 20px;
    margin: 20px auto;
 }

#fortuneButton {
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 300px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

/*bullshitgen section*/

/*footer section*/

#footer {
    background-color: #1f1f1f;

}

#footer .footer {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



#footer p {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {    
    #footer h1 {
        color: white;
        font-size: 6rem;
    }    
}

/*end footer section*/
